*.desktop
*.mate-panel-applet
*.o
*.panel-applet
*.service
*.tar.gz
*.un~
.#*
.*.swp
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
missing
stamp-h1
xmonad-log-applet
.libs/
compile
libtool
libxmonad-log-applet.la
libxmonad_log_applet_la-main.lo
ltmain.sh
